streamlit
pandas
networkx
numpy~=1.19.5
d3graph
python-dotenv
elasticsearch
minio
es-pandas
hvac
py-singleton
progressbar2
SPARQLWrapper

# ml libararies
spacy
gensim==4.0.1
scikit-learn
python-Levenshtein
faiss-cpu
transformers
tensorflow-hub
torch
more-itertools
mlflow
tensorflow