streamlit
pandas
numpy
python-dotenv
elasticsearch
minio
es-pandas
hvac
py-singleton
progressbar2
SPARQLWrapper
pyLDAvis

# ml libraries
spacy
gensim
scikit-learn
python-Levenshtein
plsa
torch
bertopic
umap
langdetect
pytextrank
bert-extractive-summarizer
more_itertools
mlflow
plotly