version: '3'

services:
  minio-s3:
    image: minio/minio:latest
    ports:
      - ${MINIO_PORT}:9000
    environment:
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    command:
      server /data
    volumes:
      - s3-disk:/data
    networks:
      - elk

volumes:
  jupyter-notebook-work:
    external:
      name: jupyter-notebook
  s3-disk:
    external:
      name: s3-disk

networks:
  elk:
    external:
      name: elk
